.navsito{
    background-color: #6443D9 !important;
    height: 20px !important;
    width: 100% !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 10 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    padding: 5px !important;
  }